<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tellme</title>

    <link rel="stylesheet" href="css/root.css">
</head>
<body>
    <div class="content">
        <div class="message__display">
            <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %> 
                    <div class="message">
                        <p>
                            <%= data[i].message %> 
                        </p>

                        <a class="delete__btn" href="/delete/<%=data[i].id%>"></a>
                    </div>
                <% } %> 
            <% } %> 
        </div>
        <form action="/message" method="POST">
            <input type="text" name="message" id="" placeholder="Type your message here...">
            <button type="submit">
                <p>Enviar</p>    
            </button>
        </form>
    </div>
</body>
</html>